raphaellee.de {
  respond "coming soon" 200
}

transflow.raphaellee.de {
  reverse_proxy transflow-core:8080
}

temporal.raphaellee.de {
  basic_auth {
    demo {env.CADDY_DEMO_PASSWORD_HASH}
  }
  reverse_proxy temporal-ui:8233
}

kafka.raphaellee.de {
  basic_auth {
    demo {env.CADDY_DEMO_PASSWORD_HASH}
  }
  reverse_proxy kafka-ui:8090
}

dashboard.raphaellee.de {
  respond "coming soon" 200
}

raphaellee.eu {
  redir https://raphaellee.de{uri} permanent
}

transflow.raphaellee.eu {
  redir https://transflow.raphaellee.de{uri} permanent
}

dashboard.raphaellee.eu {
  redir https://dashboard.raphaellee.de{uri} permanent
}
